.swiper-pagination-bullet {
    display : flex ;
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transform : scaleX(1) ;
    transition : all .2s linear ;
    margin-right: 16px ;
    cursor: pointer ;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
    width: 40px ;
    border-radius: 20px ;
    /* transform: scaleX(2); */
    /* margin : 0 32px ; */
  }