@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./Font/IranYekan_EnNum/Css/IranYekan_En.css");
@import url("./Font/IranYekan_FaNum/Css/IranYekan_Fa.css");
@import url("./Font/Digikala/Css/digikala.css");
@import url("./Font/FontAwesome/css/all.min.css");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    display: block;
    text-decoration: none;
}
input:focus {
    outline: none;
    /* border: none; */
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IranYekan_Fa";
    font-weight: 500;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    width: 100%;
}
main {
    height: 2000px;
}
@layer components{
    .header-child{
        @apply w-full flex items-center justify-between border-b border-b-slate-200 
    }
    .modal-nav{
        @apply fixed h-full bg-white overflow-y-scroll w-[300px] z-[11] top-0 transition-all duration-200
    }
    .back-drop {
        @apply fixed bg-black top-0 h-full  w-full z-10 transition-all duration-200
    }
    .digi-logo{
        @apply w-[90%] h-[24px] bg-digi bg-no-repeat bg-96px bg-center border-b border-slate-200 py-8
    }
}
