.swiper-pagination-bullet {
    display : flex ;
    width: 10px;
    height: 10px;
    border-radius: 50% ;
    text-align: center;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    margin-right: 10px ;
    cursor: pointer ;
    transition : all .2s linear ;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    width: 20px ;
    border-radius: 20px ;
  }